.bd-navbar {
    background-color: #563d7c;
    position: sticky;
    z-index: 1071;
    top: 0;
}

.bg-pc {
    background-color: #563d7c;
}

.card {
    border-width: 0.5px;
}

.no-border-r {
    border-radius: 0 !important;
}

.text-trial {
    color:#563d7c;
}