.bd-navbar {
    background-color: #563d7c;
    position: sticky;
    z-index: 1071;
    top: 0;
}

.bg-pc {
    background-color: #55b4d4;
}

.card {
    border-width: 0.5px;
}

.no-border-r {
    border-radius: 0 !important;
}

.text-trial {
    color: #563d7c;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.admin{
     color: #fff;
     background-color: #55b4d4!important;
     padding-bottom: 15px;
     padding-top: 15px;
     border: 0;
     border-radius: 25px;
}
#content {
    min-height: calc(100vh - 40px);
  }

  .adminContent{
    min-height: calc(100vh - 40px);
  }

  .containerd{
    position: relative;
    text-align: center;
    color: white;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}